@btColor1: darken(@mainColor, 30%);
@btColor2: darken(@mainColor, 35%);
@addbtcolor1: #ffbda3;
@addbtcolor2: #ffa2a4;
@mainColor: #e4f1f6;
@shadow: #9fa5a1;

@lightPeach: #ffc7b9;
@peach: #ffa692;
@lightMulberry: #ee9fb6;
@mulberry: #ee4474;
@lightRose: #eeb4e4;
@rose: #ee9fdf;
@lightMint: darken(@lightGreyColor, 10%);
@mint: #fbfbfb;
//@lightMint: #c1f6f1;
//@mint: #5df3f6;
@lightGreyColor: #ededed;
@middleGreyColor: darken(@lightGreyColor, 20%);
@darkGreyColor: darken(@lightGreyColor, 40%);

html, body {
  margin: 0;
  height: 100%;
  width: 100%;

  #content {
    display: grid;
    height: 100%;
    width: 100%;
    grid-template-areas: "header header header header" "nav section section section" "footer1 footer1 footer1 footer2";
    grid-template-rows: 150px 10fr 100px;
    grid-template-columns: 250px 1fr 1fr 1fr;
    background-color: @lightGreyColor;

    #header {
      grid-area: header;
      background-color: @darkGreyColor;
      text-align: center;

      h1::before {
        color: black;
        content: url(../../iconCrown.svg);
        background-color: #5df3f6;
        //content: "??";
        //margin-left: 100px;
        //background: url(../../iconCrown.svg) no-repeat;
      }

    }

    #navigation {
      margin: 0;
      grid-area: nav;
      //background-color: darken(@lightGreyColor, 10%);
      perspective: 500px;
      perspective-origin: center center;
      position: fixed;
      width: 250px;

      .menu {
        padding: 0;
        font-size: 0;
        margin-top: 160px;
        box-shadow: 3px 0 10px 1px darken(@lightGreyColor, 55%);
        border-radius: 0 10px 10px 0;
        border: 1px solid darken(@lightGreyColor, 15%);
        //transform: translateZ(5px);
        position: fixed;
        width: 250px;

        button {
          position: relative;
          width: 100%;
          height: 60px;
          display: inline-block;
          background-image: linear-gradient(to right, darken(@lightMint, 10%), 50%, darken(@lightMint, 5%));

          //background-image: radial-gradient(@lightMint, @mint); //SVG?
          box-sizing: border-box;
          //border: 2px solid darken(@mint, 18%);
          padding: 0;
          transform-style: preserve-3d; //?
          //margin-bottom: 10px; //?
          box-shadow: inset 3px 2px 50px 1px darken(@mint, 20%);

          &:not(:first-child) {
            //border-radius: 0;
            margin-top: -2px;
          }

          &:first-child {
            border-radius: 0 10px 0 0;
          }
          &:last-child {
            border-radius: 0 0 10px 0;
          }

          .menu-item {
            transition: width 0.2s ease-out;
            position: absolute;
            width: 0;
            height: calc(100% + 4px);
            //transform: rotateX(270deg);
            transform-origin: top right;
            //background-image: radial-gradient(darken(@mint, 10%), darken(@mint, 25%)); //SVG?
            background-image: linear-gradient(to right, darken(@lightMint, 30%), 30%, darken(@lightMint, 12%));
            z-index: 100;
            //visibility: hidden;
            font-size: 22px;
            text-align: center;
            line-height: 60px;
            top: 0;
            left: 0;
            color: #fff;
            text-decoration: none;
            overflow: hidden;

            &:not(.first) {
              border-radius: 0;
              margin-top: -2px;
            }

            &.first {
              border-radius: 0 10px 0 0;
            }
            &.last {
              border-radius: 0 0 10px 0;
            }

            &::before {
              //content: url(/iconCrown.svg);
              content: "?";

              color: black;
            }

          }

          span.before-hover {
            transition: width 0.3s ease-out;
            position: absolute;
            top: 0;
            right: 0;
            width: 100%;
            height: 100%;
            display: inline-block;
            z-index: 100;
            font-size: 22px;
            text-align: center;
            line-height: 60px;
            color: darken(@mint, 80%);
            overflow: hidden;

            &:not(.first) {
              border-radius: 0;
              margin-top: -2px;
            }

            &.first {
              border-radius: 0 10px 0 0;
            }
            &.last {
              border-radius: 0 0 10px 0;
            }

          }

          ul.sub-menu {
            list-style-type: none;
            padding: 0;
            font-size: 0;
            position: absolute;
            width: 0;
            top: 0;
            left: 100%;
            margin-top: -2px;
            //box-sizing: border-box;
            //transform: rotateX(270deg);
            //visibility: hidden;
            //display: none;
            display: block;
            color: darken(@mint, 70%);
            overflow: hidden;
            //border-left: 0;
            //border-right: 2px solid darken(@mint, 18%);
            //  border-top: 2px solid darken(@mint, 18%);
            //  border-bottom: 2px solid darken(@mint, 18%);

            li {
              position: relative;
              width: 100%;
              height: 60px;
              display: inline-block;
              //background-image: radial-gradient(@lightMint, @mint); //SVG?
              background-image: linear-gradient(to right, darken(@lightMint, 14%), 50%, @lightMint);
              box-shadow: inset 3px 2px 50px 1px darken(@lightMint, 12%);
              //box-shadow: inset 5px 2px 50px 3px darken(@lightMint, 10%);

              overflow: hidden;
              border-left: 0;
              //border-right: 2px solid darken(@mint, 18%);
              //  border-top: 2px solid darken(@mint, 18%);
              //  border-bottom: 2px solid darken(@mint, 18%);

              &:not(:first-child) {
                border-radius: 0;
                margin-top: -2px;

              }

              &:first-child {
                border-radius: 0 10px 0 0;

              }
              &:last-child {
                border-radius: 0 0 10px 0;
              }

              a {
                //background-image: radial-gradient(darken(@mint, 10%), darken(@mint, 25%)); //SVG?
                font-size: 20px;
                text-align: center;
                line-height: 60px;
                color: #fff;
                text-decoration: none;
                display: block;
                width: 100%;
                height: 100%;
                margin-top: -2px;

              }
            }
          }
          &:focus {
            outline: none;

          }
          &:active {
            .menu-item {
              width: 100%;
              overflow: hidden;
              background-image: linear-gradient(to right, darken(@lightMint, 50%), 30%, darken(@lightMint, 12%));

            }
            .before-hover {
              overflow: hidden;
            }
          }
            &:hover {

            .menu-item {
              transition: width 0.3s linear;
              width: 100%;
              overflow: hidden;

            }
            .before-hover {
              overflow: hidden;
            }

            > ul.sub-menu {
              transition: width 0.3s ease-out;
              width: 100%;
              border-radius: 0 10px 10px 0;
              box-shadow: 3px 0 10px 1px darken(@lightGreyColor, 55%);

              > li:hover {
                background-image: linear-gradient(to right, darken(@lightMint, 12%), 60%, darken(@lightMint, 30%));
              }

              > li:active {
                background-image: linear-gradient(to right, darken(@lightMint, 12%), 60%, darken(@lightMint, 50%));
              }
            }
          }
        }
      }
    }

    .main-content {
      grid-area: section;
      //background-color: @lightGreyColor;
      padding: 15px;

    }

    #footer1 {
      grid-area: footer1;
      background-color: @middleGreyColor;
    }

    #footer2 {
      grid-area: footer2;
      background-color: darken(@middleGreyColor, 10%);
    }
  }
}



